.spinner {
  position: relative;
  display: inline-block;
  color: currentColor;
}

.spinner i {
  position: absolute;
  left: 50%;
  top: 0;
  width: 12%;
  height: 30%;
  margin-left: -6%;
  border-radius: 999px;
  background: currentColor;
  transform-origin: 50% 166%;
  opacity: 0.2;
  animation: fade 0.8s linear infinite;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}
